<section data-bs-version="5.1" class="features19 cid-t9dxZzr0Dz" id="features20-2">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="card-wrapper pb-4">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2"><strong>Os quatro pilares da Educação</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Os quatro pilares da Educação são conceitos de fundamento da educação baseados no Relatório para a UNESCO da Comissão Internacional sobre Educação para o Século XXI, coordenada por Jacques Delors.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style display-5">1</span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7"><strong>Aprender a conhecer</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">Como se aplica: combinando uma cultura geral, suficientemente ampla, com a possibilidade de estudar, em profundidade, um número reduzido de assuntos, ou seja: aprender a aprender, para beneficiar-se das oportunidades oferecidas pela educação ao longo da vida.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style display-5">2</span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7"><strong>Aprender a fazer</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">Como se aplica: A fim de adquirir não só uma qualificação profissional, mas, de uma maneira mais abrangente, a competência que torna a pessoa apta a enfrentar numerosas situações e a trabalhar em equipe.
    <div>Além disso, aprender a fazer no âmbito das diversas experiências sociais ou de trabalho, oferecidas aos jovens e adolescentes, seja espontaneamente na sequência do contexto local ou nacional, seja formalmente, graças ao desenvolvimento do ensino alternado com o trabalho.</div></h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style display-5">3</span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7"><p><strong>Aprender a ser</strong></p></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">Como se aplica: Desenvolvendo a compreensão do outro e a percepção das interdependências – realizar projetos comuns e preparar-se para gerenciar conflitos – no respeito pelos valores do pluralismo, da compreensão mútua e da paz.</h5>
                    </div>
                </div>
                <div class="item mbr-flex last">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style display-5">4</span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7"><strong>Aprender a conviver</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">Como se aplica: Para desenvolver, o melhor possível, a personalidade e estar em condições de agir com uma capacidade cada vez maior de autonomia, discernimento e responsabilidade pessoal.
    <div>Com essa finalidade, a educação deve levar em consideração todas as potencialidades de cada indivíduo: memória, raciocínio, sentido estético, capacidades físicas, aptidão para comunicar-se.</div></h5>
                    </div>
                </div>
                
                
                
                
                
                
            </div>
        </div>
    </div>
</section>
