{% load static %}

<section data-bs-version="5.1" class="header9 cid-sFHoAfPmXB" data-bg-video="https://vimeo.com/721981533" id="header9-1">
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(9, 92, 255);"></div>

    <div class="text-center container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>E.E.E.M.T.I </strong><br><strong>HEITOR VILLA-LOBOS</strong></h1>
                <p class="mbr-text mbr-fonts-style display-7">Escola em tempo integral, embasada em excelência acadêmica, valores para a vida e habilidades para o século XXI. Venha conhecer a Escola do Novo Tempo.</p>
                
            </div>
        </div>
    </div>
</section>
